{% extends "base.html" %} {% block content %} {% load static %}
{% load paginator_tags %}
<section id="home">
  <section class="wrapper">
    {% include 'web/includes/header.html' %}
    <section class="spotlight">
      <div class="bc">
        <h1>EVENT . </h1>
        <p>WE ARE HERE TO PROVIDE THE BEST</p>
      </div>
      <div class="about">
        <h2>About Us</h2>
        <p>Welcome to Event ., the premier event management website for all your special occasions. Our team of experienced professionals is dedicated to providing top-notch event planning, coordination, and execution services to ensure that your event is a success. Whether it's a corporate conference, a wedding, or a birthday party, we work with you every step of the way to make your vision a reality. With our attention to detail and commitment to excellence, you can trust us to handle all the logistics so that</br><b>you can sit back, relax, and enjoy your event.</b> </p>
          <img src="{% static './images/event10.jpeg' %}" alt="" />
      </div>
      <div class="gallery">
        <div class="top"><h2>Event Memories</h2></div>
        <div class="bottom"></div>
        <img src="{% static './images/event.jpg' %}" alt="image1" />
        <img src="{% static './images/mem1.jpeg' %}" alt="image1" />
        <img src="{% static './images/mem2.jpeg' %}" alt="image1" />
        <img src="{% static './images/mem3.jpeg' %}" alt="image1" />
        <img src="{% static './images/mem4.jpeg' %}" alt="image1" />
        <img src="{% static './images/mem5.jpeg' %}" alt="image1" />
        <img src="{% static './images/mem2.jpeg' %}" alt="image1" />
        <img src="{% static './images/mem1.jpeg' %}" alt="image1" />
      </div>
      <centre>
      <div class="reviews">
        <div class="board">
            <h2 class="text-light">Word form our customers</h2>
            <p class="text-light">Some of the fullfilled costomers reviews</p>

            <!-- Slider main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="flex">
                        <div class="comments">
                          This event management website was a lifesaver! The user-friendly interface, responsive customer service, and top-notch event planning tools made organizing my conference a breeze. Highly recommend!"
                        </div>
                        <div class="profile">
                            <img src="https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=4&w=256&h=256&q=60" alt="">
                            <a href="#">Sita Mahalakshmi</a>
                            <span>happy customer</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="flex">
                        <div class="comments">
                          Using this event management website was a game-changer. The intuitive platform, helpful customer support, and excellent event planning tools allowed me to host a successful and stress-free event. Highly recommended!
                         </div>
                        <div class="profile">
                            <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=4&w=256&h=256&q=60" alt="">
                            <a href="#">Mrunal thakur</a>
                            <span>happy customer</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="flex">
                        <div class="comments">
                          Event. is the ultimate event management website! From planning to execution, their team of experts seamlessly handle every aspect of your event
                        </div>
                        <div class="profile">
                            <img src="https://images.unsplash.com/photo-1503185912284-5271ff81b9a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=4&w=256&h=256&q=60" alt="">
                            <a href="#">Princes Noorjahan</a>
                            <span>happy customer</span>
                        </div>
                    </div>
                </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
            
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
        
            </div>

        </div>
    </div>
      <center> 
      <h3 style="font-size: 35px;">Event Teams</h3>
    </center>
      <div class="filtersection" id="hamburger-menu">
        <form action="">
          <input type="text" name="q" placeholder="Search your event team..." />
        </form>
      </div>
      <div class="all-posts">
        <div class="post-section">
          <ul class="posts">
            {% for post in instances %}
            <li>
              {% if request.user.is_authenticated %}
              <a href="{% url 'web:post' id=post.id %}">
              {% else %}
              <a href="{% url 'users:login' %}" class="login">
              {% endif %}
                <div class="blog-image">
                  <img src="{{post.featured_image.url}}" alt="Blog" />
                </div>
                <div class="details">
                  <div class="date">
                    <h4 class="name">{{post.author.name}}</h4>
                  <h3 class="head">{{post.title}}</h3>
            </li>
            {% endfor %}
          </ul>
          {% load_pagination instances %}
        </div>
      </div>
    </section>
    <div id="overlay"></div>
    <div id="close">
      <img src="{% static './images/icons/close.svg' %}" alt="" />
    </div>
  </section>
</section>
{% endblock %}
